<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.springframework.ide.eclipse.boot.launch">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/fdns-ms-hl7-utils/src/main/java/gov/cdc/foundation/HL7Application.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="ERROR_INCLUDE_TRACE" value="true"/>
<mapEntry key="HL7_UTILS_FLUENTD_HOST" value="fluentd"/>
<mapEntry key="HL7_UTILS_FLUENTD_PORT" value="24224"/>
<mapEntry key="HL7_UTILS_PORT" value="8080"/>
<mapEntry key="HL7_UTILS_PROXY_HOSTNAME" value=""/>
<mapEntry key="OAUTH2_ACCESS_TOKEN_URI" value=""/>
<mapEntry key="OAUTH2_CLIENT_ID" value=""/>
<mapEntry key="OAUTH2_CLIENT_SECRET" value=""/>
<mapEntry key="OAUTH2_PROTECTED_URIS" value=""/>
<mapEntry key="OBJECT_URL" value="http://fdns-ms-object:8083"/>
<mapEntry key="SSL_VERIFYING_DISABLE" value="true"/>
</mapAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="gov.cdc.foundation.HL7Application"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="fdns-ms-hl7-utils"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.springframework.ide.eclipse.boot.launch.BootMavenSourcePathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Djava.security.egd=file:/dev/./urandom"/>
<stringAttribute key="process_factory_id" value="org.springframework.ide.eclipse.boot.launch.process.BootProcessFactory"/>
<booleanAttribute key="spring.boot.ansi.console" value="false"/>
<booleanAttribute key="spring.boot.dash.hidden" value="false"/>
<booleanAttribute key="spring.boot.debug.enable" value="false"/>
<booleanAttribute key="spring.boot.jmx.enable" value="true"/>
<booleanAttribute key="spring.boot.lifecycle.enable" value="true"/>
<stringAttribute key="spring.boot.lifecycle.termination.timeout" value="15000"/>
<booleanAttribute key="spring.boot.livebean.enable" value="true"/>
<stringAttribute key="spring.boot.livebean.port" value="0"/>
<stringAttribute key="spring.boot.profile" value=""/>
</launchConfiguration>
